.input {
    width: 100%;
    margin-top: 1.5em;
    padding: 1em 2em;

    font-size: large;
    text-align: left;
    text-transform: uppercase;
    outline: none;
}

.play-button {
    margin: 1.5em auto;
    width: 50%;
    cursor: pointer;
}

@media only screen and (max-width: 650px)  {
    .root {
        width: 75vw;
    }
}