:root {
  background: url("/mountains.gif") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  image-rendering: pixelated;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}