.root {
    input {
        width: 100%;
        padding: 1em 2em;
    
        font-size: large;
        text-align: left;
        text-transform: uppercase;
        outline: none;

        caret-color: auto;
    }
}